
html {
  background-color: red;
  color: pink;
  font-family: Lato, sans-serif;
}

/* .content {
  background-color: darkgrey;
} */

h1 {
  text-align: center;
  font-size: 3em;
}

p {
  font-size: 2em;
}

p.quote {
  font-style: italic;
  color: pink;
}
button {
  height: 2em;
  font-size: 1.5em;
  color: red;
  background-color: yellow;
  text-transform: uppercase;
  float: left;
  margin: 0.25em;
  border: 5px dotted red;
  text-align: center;
}

img {
  width: 500px;
  margin: 0 25%;
  border: 5px solid lightgrey;
}
